:root {
    font-family: 'Open Sans', sans-serif;
}



@font-face {
    font-family: Norse-bold;
    src: url(./images/Norse-Bold.otf);
}


body {
    margin: 0px 0px;
    display: flex;
    height: 100vh;
    width: max(100vw);
}



.left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    background-image: url(./images/halie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
}

    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20vh;
        width: 40vw;
        font-family: Norse-bold;
        font-size: min(7rem);
        color: white;
        background-color: rgba(0,0,0, .4) ;
        
    }

    .image {
        display: flex;
        width: auto;
        height: 150px;
    }

    #credits {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: .5rem;
    }


.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    height: 100%;
    background-color: #f9fafb;
}

    .text1-1 {
        margin-bottom: 2rem;
        margin-left: 2rem;
        flex-wrap: wrap;
        font-weight: 600 bold;
        font-size: 1.3rem;
    }

        i {
            font-size: 1.5rem;
            font-weight: bold 700;
        }

    .text1-2 {
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    .center {
        display: flex;
        background-color: white;
        height: min(20vh);
    }

        .centertext {
            margin: 2rem 2rem;
        }

    button {
        border-radius: 2px;
        margin: 2rem 2rem;
        background-color: #596D48;
        color: white;

    }

    .text3 {
        margin-left: 2rem;
    }


